.agora-radio-wrapper {
  @apply flex items-start cursor-pointer relative;
  min-height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;

  & > .radio-label {
    @apply text-text-m text-neutral-900 select-none;
  }

  &.input-only {
    @apply p-0 w-fit items-center #{!important};

    .radio-span {
      @apply m-0;
    }
    .radio-label {
      @apply hidden;
    }
  }

  &:hover > .radio-span {
    @apply outline-primary-500 rounded-24;
  }

  input {
    @apply absolute opacity-0 cursor-pointer;
    top: 2px;

    & ~ .radio-span::before {
      content: '';
      width: 12px;
      height: 12px;
      @apply bg-white absolute rounded-16 opacity-0;
    }

    width: 44px;
    height: 44px;
    left: -10px;

    &:checked ~ .radio-span {
      @apply bg-primary-500 border-primary-500;
      &::before {
        @apply opacity-100;
      }
    }

    &:focus ~ .radio-span {
      @apply outline-1 outline-offset-4 outline-primary-500 rounded-24;
    }

    &:disabled {
      & ~ .radio-label {
        @apply text-neutral-400;
      }

      & ~ .radio-span {
        @apply bg-neutral-100 border-neutral-300;
      }
    }
  }

  .radio-span {
    margin-top: 2px;
    @apply z-50 rounded-24 border-2 border-neutral-600 mr-16 h-24 w-24 flex justify-center items-center outline-1 outline outline-transparent outline-offset-4 transition-all;
  }

  &.has-error .radio-span {
    @apply border-danger-500 bg-danger-50;
  }

  @media (max-width: theme('screens.md')) {
    input {
      @apply left-0 #{!important};
      top: 6px !important;
    }

    .radio-label {
      padding-top: 2px;
    }

    .radio-span {
      @apply w-32 h-32 #{!important};
      min-width: 32px;
      margin-left: 6px;
    }
  }
}
