.agora-radio-wrapper {
  @apply flex items-start cursor-pointer relative w-fit;
  min-height: 44px;

  & > .radio-label {
    @apply text-neutral-900 select-none pr-16 border-2 cursor-pointer border-transparent rounded-4 transition-all ease-in-out pl-56;
    margin-left: -50px;
    min-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & > label {
    margin-top: -2px;
  }

  &.input-only {
    // apply to container
    width: 44px;
    height: 44px;

    .radio-span {
      margin: 10px;
    }

    input {
      @apply top-0 left-0;
    }

    .radio-label {
      @apply mt-0 pl-0;
      width: 44px;
      height: 44px;
      margin-left: -44px;
    }

    .radio-label span {
      @apply hidden;
    }
  }

  &:hover input:not(:disabled) ~ .radio-label {
    @apply border-primary-500;
  }

  input {
    @apply absolute opacity-0 cursor-pointer;
    width: 44px;
    height: 44px;
    left: 6px;
    top: 2px;

    & ~ .radio-span::before {
      content: '';
      width: 12px;
      height: 12px;
      @apply bg-white absolute rounded-16 opacity-0;
    }

    &:checked ~ .radio-span {
      @apply bg-primary-500 border-primary-500;
      &::before {
        @apply opacity-100;
      }
    }

    &:disabled:is(:checked) ~ .radio-span {
      &::before {
        @apply opacity-100 bg-neutral-300;
      }
    }

    &:focus ~ .radio-span {
      & ~ .radio-span {
        @apply outline-0 rounded-4;
      }
      & ~ .radio-label {
        @apply border-primary-500;
      }
    }

    &:disabled {
      @apply cursor-not-allowed;

      & ~ .radio-label {
        @apply text-neutral-400 cursor-not-allowed;
      }

      & ~ .radio-span {
        @apply bg-neutral-100 border-neutral-300;
      }
    }
  }

  .radio-span {
    @apply pointer-events-none  ml-16 z-50 rounded-24 border-2 border-neutral-600 mr-8 h-24 w-24 flex justify-center items-center outline-2 outline outline-transparent outline-offset-4 transition-all;
    margin-top: 12px;
  }

  &.has-error .radio-span {
    @apply border-danger-500 bg-danger-50;
  }

  @media (max-width: theme('screens.md')) {
    .radio-label {
      margin-left: -58px !important;
      padding-left: 60px;
    }

    input {
      @apply left-0 #{!important};
      top: 6px !important;
    }

    label {
      margin-top: 4px;
    }

    .radio-span {
      @apply w-32 h-32 ml-8 #{!important};
      @apply min-w-[theme('spacing[32]')];
    }

    &.input-only {
      input {
        top: 0 !important;
      }

      .radio-label {
        margin-left: -44px !important;
      }

      .radio-span {
        margin: 6px !important;
      }
    }
  }
}
