.agora-checkbox-wrapper {
  @apply flex items-start cursor-pointer relative w-fit;
  min-height: 44px;

  & > .checkbox-label {
    @apply text-neutral-900 select-none pr-16 border-2 cursor-pointer border-transparent rounded-4 transition-all ease-in-out pl-56;
    margin-left: -50px;
    min-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & > label {
    margin-top: -2px;
  }

  &.input-only {
    // apply to container
    width: 44px;
    height: 44px;

    .checkbox-span {
      margin: 10px;
    }

    input {
      @apply top-0 left-0;
    }

    .checkbox-label {
      @apply mt-0 pl-0;
      width: 44px;
      height: 44px;
      margin-left: -44px;
    }

    .checkbox-label span {
      @apply hidden;
    }
  }

  &:hover input:not(:disabled) ~ .checkbox-label {
    @apply border-primary-500;
  }

  input {
    @apply absolute opacity-0 cursor-pointer;
    width: 44px;
    height: 44px;
    left: 6px;
    top: 2px;

    //
    &:checked {
      & ~ .checkbox-span {
        @apply bg-primary-500 border-primary-500;
        svg {
          @apply visible;
          path {
            @apply stroke-white;
          }
        }
      }
    }

    &:focus {
      & ~ .checkbox-span {
        @apply outline-0 rounded-4;
      }
      & ~ .checkbox-label {
        @apply border-primary-500;
      }
    }

    &:disabled {
      @apply cursor-not-allowed;

      & ~ .checkbox-label {
        @apply text-neutral-400 cursor-not-allowed;
      }

      & ~ .checkbox-span {
        @apply bg-neutral-100 border-neutral-300;
        svg {
          path {
            @apply stroke-neutral-700 opacity-50;
          }
        }
      }
    }
  }

  .checkbox-span {
    @apply pointer-events-none ml-16 z-50 rounded-4 border-2 border-neutral-600 mr-8 h-24 w-24 flex justify-center items-center outline-2 outline outline-transparent outline-offset-4 transition-all;
    margin-top: 12px;
    svg {
      @apply invisible;
    }
  }

  &.has-error .checkbox-span {
    @apply border-danger-500 bg-danger-50;
  }

  @media (max-width: theme('screens.md')) {
    .checkbox-label {
      margin-left: -58px !important;
      padding-left: 60px;
    }

    label {
      margin-top: 2px;
    }

    input {
      left: 2px;
      top: 6px !important;
    }

    .checkbox-span {
      @apply w-32 h-32 ml-8 #{!important};
      @apply min-w-[theme('spacing[32]')];
    }

    &.input-only {
      input {
        top: 0 !important;
      }

      .checkbox-label {
        margin-left: -44px !important;
      }

      .checkbox-span {
        margin: 6px !important;
      }
    }
  }
}
