@mixin dyeLineIcon($colorClass) {
  path {
    fill: transparent;
    @apply #{$colorClass} #{!important};
  }
}

@mixin dyeSolidIcon($colorClass) {
  path {
    stroke: transparent;
    @apply #{$colorClass} #{!important};
  }
}

.agora-input-password--wrapper {
  @apply flex flex-col relative;

  .forgot-password-link {
    @apply text-primary-500 underline text-text-s mt-8 font-medium;
    line-height: 18px;
  }

  .input-btn--toggle {
    @include dyeLineIcon('stroke-neutral-900 opacity-50');
    @apply cursor-pointer absolute flex items-center justify-center right-8 top-8;
    height: 44px;
    width: 44px;
  }

  // normal leading icons color on default status input text
  .input-icon {
    &.dye-as-solid {
      @include dyeSolidIcon('fill-neutral-900 opacity-70');
    }
    &.dye-as-line {
      @include dyeLineIcon('stroke-neutral-900 opacity-70');
    }
  }
  //# end

  & span.hint-icon-wrapper {
    svg {
      path {
        stroke: transparent;
        @apply fill-informative-500;
      }
    }
  }

  .feedback-icon-wrapper {
    &--info {
      path {
        stroke: transparent;
        @apply fill-informative-500;
      }
    }

    &--success {
      path {
        stroke: transparent;
        @apply fill-success-500;
      }
    }

    &--danger {
      path {
        stroke: transparent;
        @apply fill-danger-500;
      }
    }

    &--warning {
      path {
        stroke: transparent;
        @apply fill-alert-700;
      }
    }
  }

  .input-leading--icon {
    @apply absolute right-0 bottom-24 left-16 w-min;
    top: 18px;
  }

  .agora-input-password {
    @apply border-2 border-secondary-500 outline-none rounded-4 px-16 pr-48 transition-all ease-in-out text-interaction-input-text;
    height: 60px;

    &.has-leading-icon {
      @apply pl-56;
    }

    &:hover:not(:focus):not(:disabled):not(:read-only) {
      @apply border-neutral-800;

      & ~ .input-btn--toggle {
        @include dyeLineIcon('stroke-neutral-900 opacity-100');
      }

      // normal leading icons color on default status input text
      & ~ .input-icon {
        &.dye-as-solid {
          @include dyeSolidIcon('fill-neutral-900 opacity-100');
        }
        &.dye-as-line {
          @include dyeLineIcon('stroke-neutral-900 opacity-100');
        }
      }
      //# end
    }

    &:disabled {
      @apply border-none border-neutral-800 bg-neutral-100 cursor-not-allowed #{!important};

      // normal leading icons color on default status input text
      & ~ .input-icon {
        &.dye-as-solid {
          @include dyeSolidIcon('fill-neutral-900  opacity-70');
        }
        &.dye-as-line {
          @include dyeLineIcon('stroke-neutral-900  opacity-70');
        }
      }
      //# end
    }

    & ~ .input-btn--toggle:active {
      @apply visible;
    }

    &:not(:placeholder-shown) {
      @apply border-neutral-500;
    }

    &.has-value {
      & ~ .input-btn--toggle {
        @include dyeLineIcon('stroke-neutral-900 opacity-100');
      }
    }

    &:not(:disabled):focus {
      @apply border-primary-600 border-2 pr-48;

      & ~ .input-btn--toggle {
        @include dyeLineIcon('stroke-primary-600 opacity-100');
      }

      // normal leading icons color on default status input text
      & ~ .input-icon {
        &.dye-as-solid {
          @include dyeSolidIcon('fill-primary-600 opacity-100');
        }
        &.dye-as-line {
          @include dyeLineIcon('stroke-primary-600  opacity-100');
        }
      }
      //# end
    }
  }

  &.input-has-error {
    .input-btn--toggle {
      path {
        fill: transparent;
        @apply stroke-neutral-900 #{!important};
      }
    }

    .input-feedback {
      path {
        stroke: transparent;
        @apply fill-danger-500 #{!important};
      }
    }

    .agora-input-password:not(:disabled):not(:read-only) {
      @apply border-2 bg-danger-50 border-danger-500 #{!important};
    }
  }
}
